*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:CFCrayons-Regular;
    src: url(./Fonts/CFCrayons-Regular.ttf);
}

@font-face {
    font-family: Gluten-VariableFont;
    src: url(./Fonts/Gluten-VariableFont_slnt\,wght.ttf);
}

@font-face {
    font-family:SuperBubble-Rpaj3;
    src: url(./Fonts/SuperBubble-Rpaj3.ttf);
}


body{
    background-color: #EEF1FF;

}

.ul{
    list-style: none;
    padding-left: 0px;
    gap: 20px;

}

ul li a{
    font-family:CFCrayons-Regular;
    text-decoration: none;
    color:#006989;
    font-size: 1.3rem;
}

ul li a:hover{
    color:#E88D67;
}

.logo-text{
    font-size: 45px;
    font-family:CFCrayons-Regular;
    font-weight: 700;
    color: #FFAD60;
}

.logo-img{
    width: 60px;
}

.action-btn{
    border: none;
    font-family:CFCrayons-Regular;
    padding: 10px;
    border-radius: 20px;
    background-color: #e59682;
    transition: all 1s ;
}

.action-btn-a{
    text-decoration: none;
    color: #F1F0E8;
}

.action-btn:hover{
    transform: scale(1.5);
}

/* Main */

.hero-img{
    width: 400px;
    margin-bottom: 45px;
}

.hero-text{
    font-family:CFCrayons-Regular;
    font-size: 58px;
    width: 500px;
    color: #028391;
    text-align:center;
}

.hero-span{
    color:#ED7D31;
    font-size: 4rem;
}

.second-row{
    background-color:#f0f0eec1;
    border-radius: 10px;
    border: 2px  dashed #006989;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-bottom: 40px;
}

.triangy{
    width:100px;
    margin-right: 20px;
}

.box-header-text{
    font-size:3rem;
    font-family:CFCrayons-Regular;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: ;
}

.cuby{
    width: 100px;
}


.card{
    background-color:#dde6eb;
    border: 2px dashed #028391;
}

.card-title{
    color:#257180;
    font-family:Gluten-VariableFont;
}

.btn{
    display:flex; 
    justify-content:center; 
    align-items:center;
    font-family:Gluten-VariableFont;
    background-color:#E68C3A;
    color: #EDF6E5;
    transition: all 1s;
}

.btn:hover{
    transform: scale(1.1);
}


.sketchbook-card{
    display: flex;
    justify-content: center;
    align-items: center;

}

.sketchbook-img{
    width: 200px;
    height: 180px;
}


.marker-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.marker-img{
    margin: 30px 10px;
    width: 200px;

}

.brush-card{
    display: flex;
    justify-content: center;
    align-items: center;

}

.brush-img{
    width:200px;
    height: 160px;
    margin-top: 20px;
}

.acrylic-paint-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.acrylic-paint-img{
    width:180px;
    height: 150px;
    margin-top: 30px;

}

/* Footer */

.footer-container{
    background: url("./Images/footer.webp") no-repeat center center/cover;
    border-radius: 15px;
    border: #006989 2px dashed;
    height:550px;
}

.footer-row{
    display: flex;
    justify-content:space-around;
    align-items: center;
}


.first-column-footer{
    margin-top: 30px;

}


.find-way-header{
    font-family:CFCrayons-Regular ;
    color: #E68C3A;
}

.social-media-header{
    font-family:CFCrayons-Regular ;

}

.instagram-img{
    width:20px;
    height: 20px;
}

.thread-img{
    width:20px;
    height: 20px;

}


form{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.email-header{
    font-family:CFCrayons-Regular ;
    color: #3A6D8C;
    font-size: 2rem;
    
}

.email-label{
    font-family:CFCrayons-Regular ;
    margin-bottom: 5px;
}

.email-input{
    font-family:CFCrayons-Regular ;
    padding: 5px;
    border-radius: 20px;
    border: #028391 1px dashed;
}

.footer-button{
    width: 100px;
    margin-top: 5px;
    font-family:CFCrayons-Regular;
    padding:5px;
    border-radius:30px;
    border: none;
    background-color: #eb965d;
    color: #ffff;
    transition: all 1s;
}

.footer-button:hover{
    transform: scale(1.3);
}